/Webentwicklung/Beleg3/packages
/Webentwicklung/Beleg2/images
/Webentwicklung/Beleg1/images
/Webentwicklung/Beleg1/bin
/Webentwicklung/Beleg1/.project
/Webentwicklung/Beleg1/.classpath
*.classpath
*.project
/KBE/kbe_ue4_2/*.project
/KBE/kbe_ue4_2/*
/KBE/kbe_ue4_2/*.classpath
/KBE/kbe_ue4_2e/*.project
/KBE/kbe_ue4_2e/*
/KBE/kbe_ue4_2e/*.classpath
/KBE/kbe_ue4_4/*.project
/KBE/kbe_ue4_4/*
/KBE/kbe_ue4_4/*.classpath
/KBE/kbe-ue3-1/*.project
/KBE/kbe-ue3-1/*
/KBE/kbe-ue3-1/*.classpath
/KBE/kbe-ue5-1/*.project
/KBE/kbe-ue5-1/*
/KBE/kbe-ue5-1/*.classpath
/Funktionale Programmierung/Beleg1/*.pdf
/Funktionale Programmierung/Beleg1/*.beam
classes
/KBE/kbe_ue4_2/target/*
/KBE/kbe_ue4_2e/target/*
/KBE/kbe_ue4_2e/target/*.jar
/KBE/kbe_ue4_4/target/*
/KBE/kbe-ue3-1/target/classes
/KBE/kbe-ue8-1/.metadata
/KBE/kbe-ue8-1/.settings
/KBE/kbe-ue8-1/target
/KBE/kbe-ue8-1/.classpath
/KBE/kbe-ue8-1/.project
/KBE/kbe-ue3-1NEU/.project
/KBE/kbe-ue3-1NEU/.metadata
/KBE/kbe-ue3-1NEU/.settings
/KBE/kbe-ue3-1NEU/target
/KBE/kbe-ue3-1NEU/WebContent
/KBE/kbe-ue3-1NEU/.classpath
/Funktionale Programmierung/Beleg2/*.beam
*.beam
/Funktionale Programmierung/Beleg2/Belegarbeit2-AufgabenblattWS2016.pdf
