<div ng-include="'views/navmenu.html'"></div> 


    <div class="view">
        <h1 style="font-size:20px">Hey, {{hm.username}}! <br />Du hast dich erfolgreich angemeldet!</h1>

        <br />
        <p style="font-size:15px"> Was möchtest du tun?</p><br />

        <div>
            <button type="button" name="goToLernSession" class="entrybtn" onclick="window.location.href='#/learn'"><b>Neue Lern Session starten</b>  </button>
        </div>
        <div class="btnmargin">
            <button type="button" name="goToLernHistory" class="entrybtn" onclick="window.location.href='#/history'"> <b>Lern Sessions ansehen</b> </button>
        </div>
        <div class="btnmargin">
            <button type="button" name="goToStats" class="entrybtn" onclick="window.location.href='#/stats'"> <b>Statistiken ansehen</b> </button>
        </div>
    </div>
