 
<h1 style="color: #646464; font-size: 300%; font-weight: bold; margin-top: 20px; text-align:center">LemoLisa</h1>

<form name="form" ng-submit="form.$valid && vm.login()" novalidate>

<div style="text-align:center;"> 

	<div class="spaceholder"></div>
	<div class="small">Benutzername</div>
	<div>
		<input type="text" name="username" id="username" placeholder="Benutzername" style="text-align: center;" ng-model="vm.username" required />
		user: t
	</div>
	<div ng-show="form.username.$dirty && form.username.$error.required"><font color="red">Benutzername benoetigt</font></div>
	<div style="margin: 10px;"></div>

	<div class="small">Passwort</div>
	<div>
		<input align="center" type="password" name="password" id="password" placeholder="Passwort" style="text-align: center;" ng-model="vm.password" required />
		pw: t
	</div>
	<div ng-show="form.password.$dirty && form.password.$error.required"><font color="red">Passwort benoetigt</font></div>
	<div style="margin: 10px;"></div>

	<div>
		<button type="submit" name="login" class="button" value="0">Log In</button>
	</div>
</div>
</form>
