<div class="chart" ng-controller="statisticController">
    <svg id="chart" statistics></svg>
</div>

<div id="learnsessionHistoryButton_div" ng-controller="statisticController">
	<a href="#/history"><button id="learnsessionHistoryButton">Lernsession-Historie</button></a>
</div>

<div id="heartRateIcon" ng-controller="statisticController">
	<a href="#/details"><img class="detailIcons" ng-src="assets/icons/heart_blue.svg"></a>
</div>

<div id="edaIcon">
	<a href="#/details"><img class="detailIcons" ng-src="assets/icons/skin_blue.svg"></a>
</div>