@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chris Rebbelin<br />
    <abbr title="Matrikelnummer">Matnr:</abbr>
    s0548921
</address>

<address>
    <strong>Fragen:</strong>   <a href="mailto:s0548921@htw-berlin.de">s0548921@htw-berlin.de</a>
</address>