/* Scoreboard Table CSS */
div#as-container {
    position: relative;
}

.players-icon {
	width: 30px;
	height: 30px;
	background: url(http://eaassets-a.akamaihd.net/bl-cdn/cdnprefix/e3c3bf7f10f26986e051485016df43a1ad44864/public/base/shared/header-icons.png) -180px 0 no-repeat;
	display: inline-block;
	vertical-align: middle;
	top: -3px;
	position: relative;
}

.as-header {
	padding: 2px;
	margin: 0px;
	background-color: rgba(7,7,7,0.5);
}

.as-overlay {
	position: fixed;
	background-color: rgba(7,7,7,0.1);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	display: none;
}

div.as-scoreboard-roundfinished
{
	height: 100px;
	background-color: rgba(7,7,7,0.5);
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	line-height: 100px; 	
	position: relative;
	margin-bottom: 10px;
}

div#as-round-info 
{
    margin-top: 16px;
	background-color: rgba(7,7,7,0.6) !important;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    border: 1px solid black;
    border-bottom: none;
}

div#as-round-info div {
	vertical-align: middle;
    zoom: 1;
}





div#as-scoreboard-options {
    position: absolute;
    top: 5px;
    right: 5px;
}

div#as-round-map {
	display: inline-block;
	padding: 0px;
	margin: 10px;
	text-align: center;
}

div#as-round-map-title {
	display: block;
    font-size: 14px;
    margin: 2px;
    color: white;
}
div#as-round-mode {
	display: block;
    font-size: 12px;
    margin: 2px;
    color: grey;
}

img.current-map {
	display: block;
    border: 1px solid white;
   	margin: 0px;
   	padding: 0px;
}

div#as-round-properties {
	display: inline-block;
	padding: 0px;
	margin: 10px;
	text-align: center;
}

div#as-round-properties span {
	margin: 5px;
}

div#as-scoreboard-timeinfo
{
}

div#as-scoreboard-selectors {
    background-color: rgba(7,7,7,0.5) !important;
    border: 1px solid black;
    border-top: none;
}


div#as-scoreboard-selectors button {
	height: 30px;
	width: 20%;
	line-height: 30px;
	font-size: 15px;
	vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
}

div#as-scoreboard-selectors button:last-child {
	border-right: none;
}



div.as-sort-option {
	display: block !important;
	text-align: right;
}

div.as-sort-option select {
	margin-left: 5px;
}

div.sort-desc {
	margin-left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	display: inline-block;
	border-width: 6.9px 4px 0 4px;
	border-color: #f7f9fc transparent transparent transparent;
	line-height: 100%;
	font-size: 1px;
}

div.sort-asc {
	margin-left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	display: inline-block;
	border-width: 0 4px 6.9px 4px;
	border-color: transparent transparent #f7f9fc transparent;
	font-size: 1px;
}


div.as-scoreboard-timeinfo img
{
	padding: 5px;
}


img.time-icon {
}

img.as-team-flag {
	display: inline;
	margin-right: 5px;
}


table.as-scoreboard-table
{
	font-family: Purista,sans-serif;
	border: 1px solid black;
	font-size: 14px;
}

tr.as-scoreboard-head td {
    background-color: rgba(7,7,7,0.5) !important;
    border: 1px solid black;
}

tr.as-scoreboard-head td:hover {
    background-color: rgba(7,7,7,0.6) !important;
}

tr.as-scoreboard-head td.sort-asc, tr.as-scoreboard-head td.sort-desc {
    background-color: rgba(7,7,7,0.7) !important;
}

tr.as-scoreboard-foot td {
    background-color: rgba(7,7,7,0.5) !important;
    text-align: center;
    border: none;
}



table.as-commander-scoreboard
{
	font-family: Purista,sans-serif;
	border: 1px solid black;
	font-size: 12px;
}


table.as-commander-scoreboard tr
{
	border: 1px solid black;
}

table.as-commander-scoreboard td {
    background-color: rgba(7,7,7,0.75) !important;
    padding: 5px;
}
table.as-scoreboard-table tr.as-player
{
}

table.as-scoreboard-table tr.as-player td 
{
	position: relative;
 	background-clip: padding-box;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    text-align: center;
}

table.as-scoreboard-table tr.spacer {
	border-left: 0 !important;
	border-right: 0 !important;
}

tr.as-squad-spacer td  {
    height: 31px;
    padding: 0px !important;
    border: none !important;
    background-color: rgba(7,7,7,0.2);
}

table.as-scoreboard-table tr.spacer td {
    background-color: black;
	padding: 2px;
	border-left: 0 !important;
	border-right: 0 !important;
}

table.as-scoreboard-table tr.as-squad-row {
	background-color: rgba(7,7,7,0.5);
    border-top: 1px solid black !important;
}

tr.as-squad-summary {
    background-color: rgba(7,7,7,0.5) !important;
    border-bottom: 1px solid white !important;
}

tr.as-squad-summary td {

    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
	text-align: center;
	opacity: 1;
    padding-top: 2px;
    padding-bottom: 2px;

    
}


table.as-scoreboard-table tr.as-squad-row td
{
    font-family: Purista, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

table.as-round-properties td {
    padding: 5px;

}

table.as-scoreboard-commander
{
	position: absolute;
	bottom: 5px !important;
	border: 2px solid white !important;
	background-color: rgba(7,7,7,0.75);
}



table.as-scoreboard-table tfoot tr,thead tr {
	background-color: rgba(7,7,7,0.5);
	font-weight: bold;
}

table.as-scoreboard-table tfoot tr, thead tr {
	background-color: rgba(6,6,6,0.4);
	font-weight: bold;
	text-align: center;
}

tr.as-scoreboard-details td {
    background-color: rgba(7,7,7,0.5) !important;
	text-align: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid black;
}

table.as-team-summary {
	width: 100%;
}

table.as-team-summary tr {
	background: none !important;
	color: red;
}

table.as-team-summary th {
	background: rgba(7,7,7,0.1) !important;
	text-align: center;
}

table.as-team-summary td {
	background: rgba(7,7,7,0.1) !important;
	text-align: center;
}







table.as-scoreboard-table tr.as-player td:nth-child(2)
{
	text-align: left;
}


div#as-scoreboard-container {
	overflow: auto;
}

/* Span for the scoreboard table */
div.as-scoreboard-wrapper[teamId="1"] {
	float:left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px !important;
	vertical-align: top;
	width: 49.8%
}
div.as-scoreboard-wrapper[teamId="2"] {
	float: right;
	margin: 0px;
	padding: 0px;
	margin-top: 5px !important;
	vertical-align: top;
	width: 49.8%
}
div.as-scoreboard-wrapper[teamId="3"] {
	float:left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px !important;
	vertical-align: top;
	width: 49.8%
}
div.as-scoreboard-wrapper[teamId="4"] {
	float: right;
	margin: 0px;
	padding: 0px;
	margin-top: 5px !important;
	position: relative;
	vertical-align: top;
	width: 49.8%
}


/* Scoreboard Advanced View */

tr.as-advanced-stats-selected {                                           
}

tr.as-advanced-stats-selected td {  
                                           
}

/* Row containing additional statistics */
tr.as-scoreboard-advanced-stats-row {

}

table tr.as-scoreboard-advanced-stats-row td 
{
	margin: 0px;
	padding: 0px;
    text-align: left;

}

div.as-ao-header {
    background-color: rgba(7, 7, 7, 0.5);
    padding: 1px;
    padding-left: 5px;
    font-size: 18px;
    border-bottom: 1px solid black;
    height: 30px;
}

div.as-ao-view {
	margin: 0px;
}

div.as-ao-confirm {
    display: none;
    background-color: rgba(7,5,7,0.5);
    padding: 1px;
    padding-left: 5px;
    font-size: 18px;
    border-bottom: 1px solid black;

}

span#as-ao-name {
	margin: 5px;
	line-height: 30px;
	font-size: 16px;
}

img.as-ao-emblem {
    height: 24px;
    width: 24px;
    line-height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

button.as-ao-btn {
    display: inline-block;
    line-height: 14px;
    height: 24px;
	font-size: 14px;
    margin: 3px;
    padding: 6px;
	vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}

/* Scoreboard ability hilighting */

table.as-scoreboard-table tr.low td{
	background-color: rgba(0,110,25,0.6);
}
table.as-scoreboard-table tr.low:hover td {
	background-color: rgba(0,110,25,0.4);
}

table.as-scoreboard-table tr.average td{
	background-color: rgba(0,75,150,0.6);
}
table.as-scoreboard-table tr.average:hover td{
	background-color: rgba(0,100,150,0.4);
}

table.as-scoreboard-table tr.good td{
	background-color: rgba(175,120,0,0.6);
}
table.as-scoreboard-table tr.good:hover td{
	background-color: rgba(175,120,0,0.4);
}

table.as-scoreboard-table tr.high td{
	background-color: rgba(175,10,10,0.6);
}
table.as-scoreboard-table tr.high:hover td{
	background-color: rgba(175,10,10,0.4);
}

table.as-scoreboard-table tr.v-high td{
	background-color: rgba(150,25,150,0.6);
}
table.as-scoreboard-table tr.v-high:hover td{
	background-color: rgba(150,25,150,0.4);
}

table.as-scoreboard-table tr.pro td{
	background-color: rgba(7,7,7,1);
	color: rgba(199,155,36) !important;
}


table.as-scoreboard-table tr.radar td {
	color: red !important;
}

table.as-scoreboard-table tr.radar a {
	color: red !important;
    text-decoration: underline;
}

table.as-scoreboard-table tr.pro:hover {
	
}


table.as-scoreboard-table tr.friend {
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}


/** ADVANCED STATS OVERVIEW CSS **/



/* NEW */

table.as-stats-overview {
	display: block;
	margin: 5px;
	border-collapse: collapse !important;
	vertical-align: top;
}

table.as-stats-overview th {
	background-color: rgba(7,7,7,0.7);
}

table.as-stats-overview td {
	background-color: rgba(7,7,7,0.5);
}

table.as-stats-overview td, table.as-stats-overview th {
	padding: 2px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
	font-size: 12px;
}

table.as-role-stats {
	display: inline-block;
	margin: 5px !important;
	border-collapse: collapse;
	vertical-align: top;
}

table.as-role-stats th {
	background-color: rgba(7,7,7,0.7);
}

table.as-role-stats td {
	background-color: rgba(7,7,7,0.5);
}

table.as-role-stats td, table.as-role-stats th {
	padding: 2px !important;
	text-align: center !important;
	font-size: 12px;
}

/* Weapon or vehicle image in the stats overview table */
div.as-table-role {
	float: right;
}


/* OLD */


div.as-advanced-summary {

	float: left;
	width: 200px;
	padding: 3px;

}

div.as-advanced-summary div {
	border-bottom: 1px solid rgba(7,7,7,0.5);
	font-size: 13px !important;
	margin: 1px;
	margin-bottom: 6px;
}
span.as-advanced-title {
	display: inline-block;
	width: 100px;
	padding: 3px;
	background-color: rgba(7,7,7,0.5);
}

span.as-advanced-stat {
	float: right;
	padding-top: 2px;
}

div.as-advanced-overview-top 
{
	padding: 3px;
	display: inline-block;
	height: 100%;
}

div.as-ao-stats {
    position: relative;
    text-align: center;
    width: 100%;
}

div.as-ao-profile {
    position: relative;
    text-align: center;
    float: left;
    background-color: rgba(7,7,7,0.6);
    display: none;
    width: 0px;

}

div.as-advanced-player-view {
    background: rgba(7,7,7,0.2) !important;
}
div.as-advanced-overview-top-stats {
    position: relative;
    margin-left: 5px;
    width: 410px;
    text-align: left;
}

div.as-advanced-overview-top-roles {
    position: relative;
    margin-left: 5px;
    width: 410px;
    text-align: left;
}



table.as-advanced-overview-top-weapons {
    display: inline-block !important;
    width: auto;
    margin: 5px;
}
table.as-advanced-overview-top-weapons th{
    background-color: rgba(7,7,7,0.7);
	padding: 3px;
	font-size: 11px;
    text-align: center;
}

table.as-advanced-overview-top-weapons td{
    background-color: rgba(7,7,7,0.5);
    font-size: 11px;
	padding: 1px !important;
    margin: 1px;
	text-align: center !important;
}

table.as-advanced-overview-top-vehicles {
    display: inline-block !important;
    width: auto;
    margin: 5px;
}
table.as-advanced-overview-top-vehicles th{
    background-color: rgba(7,7,7,0.7);
	padding: 3px;
	font-size: 11px;
    text-align: center;
}

table.as-advanced-overview-top-vehicles td{
    background-color: rgba(7,7,7,0.5);
    font-size: 11px;
	padding: 1px !important;
    margin: 1px;
	text-align: center !important;
}


table.as-advanced-overview-top-kits {
	display: inline-block !important;
	width: auto !important;
	margin: 5px;
	padding: 0px;
}

table.as-advanced-overview-top-kits th {
    background-color: rgba(7,7,7,0.7);
	background-color: none;
	padding: 3px;
    text-align: center;
	font-size: 11px;
}

table.as-advanced-overview-top-kits td {
	background-color: rgba(7,7,7,0.5);
	padding: 3px;
    text-align: center !important;
	font-size: 11px;
}

table.as-advanced-overview-top-stats {
	display: inline-block !important;
	margin: 5px;
    padding: 0px;
    width: auto;
}

table.as-advanced-overview-top-stats th {
    text-align: center;
	font-size: 12px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white !important;
}

table.as-advanced-overview-top-stats td {
    text-align: center !important;
    padding: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
	font-size: 12px;
}


table.as-advanced-overview-top-kills {
	display: inline-block !important;
	margin: 0px;
}

table.as-advanced-overview-top-kills th{
	background-color: rgba(7,7,7,0.5);
	padding: 3px;
	font-size: 11px;
}

table.as-advanced-overview-top-kills td{
	background-color: rgba(7,7,7,0.5);
	padding: 3px;
	font-size: 11px;
}
table.as-advanced-overview-top-kills tr td:nth-child(2) {
	width: auto !important;
	text-align: left;
}





table.as-advanced-overview-overviewstats td {

	padding: 1px !important;
	background-color: rgba(7,7,7,0.2);
	text-align: center;

}

table.as-advanced-overview-overviewstats th {

	padding: 2px !imporant;
	font-size: 14px !important;
	font-style: bold;
	width: 50px !important;

}



/** SETTINGS CSS **/


div#as-settings-container {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    margin-top: 5px !important;
}

.as-settings-header {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(7, 7, 7, 0.8) !important;
    border-bottom: 1px solid black;
}

.as-settings-header h1 {
    height: 43px !important;
    padding: 5px;
    padding-left: 15px;
    margin: 0px;
    font-family: Purista, sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

div#as-settings-options {
    background-color: rgba(7, 7, 7, 0.4) !important;
    padding: 15px;
}

div.as-settings-option {

	padding: 5px;
}

div.as-settings-option label {
	width: 140px;
	text-align: left;
	padding-right: 10px;
	display: inline-block;
}

table.as-settings-table td {
    background-color: rgba(7, 7, 7, 0.5) !important;
    padding: 10px;
}

table.as-settings-table th {
    background-color: rgba(7, 7, 7, 0.6) !important;
    padding: 10px;
    text-align: right;
}

table.as-settings-table td.as-settings-table-header {
    background-color: rgba(7, 7, 7, 0.8) !important;
    font-family: Purista, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

table.as-settings-table .option-description {
    font-size: 12px;
    text-align: right;
}

#as-polling-rate {
    width: 100px;
}




div#as-log {
	height: 250px;
    width: 100%;
	overflow-y: scroll;
    background-color: rgba(7, 7, 7, 0.8);
    padding: 5px;

}








#advantagePanel {
	display: none;
	z-index-: 10;
	top: 20%;
	width: 40%;
	height: 60%;
	background-color: rgba(7, 7, 7, 0.8);
	border: 2px solid black;
	position:fixed;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}


.advantageContainer {
	width: 450px;
	display: inline-block;
	padding: 5px;
	margin: 0 auto;
}

.as-scoreboard-table tfoot {
	background-color: rgba(7, 7, 7, 0.5);
}

.as-scoreboard-table tfoot td {
	background-color: rgba(7, 7, 7, 0.5);
	padding: 3px;
}

#advantage div:nth-child(even) {
	position: relative;
	float: right;
}

#advantage div:nth-child(odd) {
	position: relative;
	float: left;
}


/* CSS for the global settings/config panel */

div#advs_scoreboard_settings {
	
	background-color: rgba(7,7,7,0.5);
	width: 400px;
	padding: 15px;

}

/* CSS for setting divs*/
div.advs_setting {
	padding: 5px;
	
}

label.advs_settings_label {
	width: 140px;
	text-align: left;
	padding-right: 10px;
	display: inline-block;
}

/* css for the team header bar */


/* Charting */

div#as-charting-container 
{
	height: 250px;
	width: 992px;
	background-color: rgba(7,7,7,0.75);
	border: 1px solid black;
	color: white;
}

.c3 .c3-axis path, .c3 .c3-axis line {
	color: #fff;
	background-color: #fff;
	border-color: #fff;
}

/* Roles */

div.as-role-top-players {
    padding: 0px;
    margin: 0px;
}

td.as-role-title-row {
    background-color: rgba(7,7,7,0.5);
}

td.as-role-title  {
    background-color: rgba(7,7,7,0.75) !important;
    border-top: 1px solid black !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 15px;
    margin: 0px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}


div.as-role-title-text {
    display: inline-block;
    height: 32px;
    line-height: 35px;
    vertical-align: top;
    font-family: Purista, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

/* Advanced Stats*/

div.as-stats-selectors {
    display: inline-block;
    float: left;
    border: 1px solid black;
}

div.as-stats-selectors button {
    display: block;
    width: 175px;
    text-align: center;
}


div#as-stats-container {
    border: 1px solid black;
    background-color: rgba(7,7,7,0.4);
    min-height: 600px;
}

div.as-stats-weapons {
    display: block;
    width: auto;
}

div.as-stats-vehicles {
    display: block;
    width: auto;
}

div.as-stats-vehicles table {
    width: auto;
    border: 1px solid black;
}

div.as-stats-weapons table {
    width: auto;
    border: 1px solid black;
}
div.as-stats-weapon-selector {
    background-color: rgba(7,7,7,0.2);
    width: 100%;
    margin-bottom: 1px;
}

tr.as-stats-weapons tr th {
    font-size: 12px;
    padding: 5px;
}
tr.as-stats-vehicles tr th {
    font-size: 12px;
    padding: 5px;
}

tr.as-stats-weapon td {
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    padding: 5px;
}


tr.as-stats-weapon td div{
    height: 16px;
    vertical-align: middle;
    line-height: 15px;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
}

tr.as-stats-vehicle td div{
    height: 16px;
    vertical-align: middle;
    line-height: 15px;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
}


tr.as-stats-vehicle td {
    font-size: 12px;
    padding: 5px;
}

div.as-stats-weapon-selector div {
    display: inline-block;
    margin-right: 5px;
}

/* Debug Window */

div#as-debug-window {
	position: relative;
	overflow-y: scroll;
	width: 80%;
	border: 1px solid black;
	background-color: rgba(7,7,7,0.5);
	height: 200px;
}

div#as-debug-output {
	padding: 3px;
	position: relative;
}

div#as-debug-output p {
	font-size: 12px;
}

span.as-debug-time {
	padding-right: 3px;
}

p.as-debug-information {
	color: white;
}

p.as-debug-success {
	color: green;
}

p.as-debug-error {
	color: red;
}