body {
	fill: #646464;
}

.chart {
	background-color: #292929;
}

.statistics {
    width: 800px;
    height: 1000px;
}

.svg_parts {
    fill: #646464;
}

.line {
	stroke: #74D6FF;
	stroke-width: 1.5px;
}