/*@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.ttf');
}*/

* {
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

/*
html {
    background-color: #292929;
} 
*/

/* entry Seite Buttons */
.entrybtn{
	text-align:center;
	font-family: Quicksand;
	font-size: 15px;
	width:200px;
    height:30px;
	border-radius: 4px;
	background-color: #FFFFFF;
	border: 2px solid #3C3C3B;
	transition-duration: 0.4s;
}

.btnmargin {
    margin-top:5px;
}


/* nur zum Testen - kann geloescht werden */
.view {
    height: 5em;
    padding: 1em;
    margin: 1em;
    font-size: 3em;
    border: 2px dashed black;
    text-align: center;
    color: #292929;
    background-color: aliceblue;
}
    
#navmenu {
	margin-top: 10px;
    font-size: 4em;
    text-align: right;
    background-color: #292929;
    border-bottom: 0.2em solid #3c3c3b;
}

/* linker Pfeil Knopf */
#navmenu > a {
    color: white;
    float: left;
    font-size: inherit;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* dropdown knopf */
.dropdown > a {
    color: white;
    font-size: 4em;
    padding-right: 15px;
    text-decoration: none;
    background-color: transparent;
}

/* dropdown auswahl */
.dropdown-content {
    right: 0;
    min-width: 4em;
    position: absolute;
    background-color: #292929;
}

/* einzelne dropdown optionen */
.dropdown-content a {
    color: white;
    font-size: 2em;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.hidden {
    display: none;
}


